.d-none {
    display: none;
}

.img-float {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-60px);
        transform: translatey(-60px);
    }
    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}
@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-60px);
        transform: translatey(-60px);
    }
    100% {
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

.logo {
    transition: 0.5s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    opacity: 0.2;
}
.logo:hover {
    transition: 0.5s;
    opacity: 0.6;
    border-radius: 0;
}